<div class="product-grid">
  <div class="product-item" *ngFor="let product of products">
    <div class="product-image">
      <div class="product-badge">{{ product.condition }}</div>
      <img [src]="product.imageUrl" alt="{{ product.title }}">
    </div>
    <div class="product-details">
      <h3 class="product-title">{{ product.title }}</h3>
      
      
      <div class="product-price">₹{{ product.price | number:'1.2-2' }}</div>
      
      <p class="product-description">{{ product.description }}</p>
      
      <div class="product-shipping">
        {{ product.category }}
      </div>

    </div>

    <div class="product-actions">
      <button class="btn-primary">Make an Offer</button>
      <button class="btn-secondary">Get It Now</button>
    </div>
  </div>
</div>
